

<section >
    <div class="title">
        <h1>Nuevas peliculas</h1>
     </div>
     
     <div class="contenedor container ">
         <div  *ngFor="let movie of listMovies">
             <a [routerLink]="['/detalles',movie.id,'home']" routerLinkActive="router-link-active" ><img class="prueba" src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt=""> </a>
         </div>
     </div>
     
     <hr>
     
     <div class="title">
         <h1>Peliculas infantiles</h1>
      </div>
     
      <div class="contenedor container ">
         <div  *ngFor="let movie of listKids">
             <a [routerLink]="['/detalles',movie.id,'home']" routerLinkActive="router-link-active" ><img class="prueba" src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt=""> </a>
         </div>
     </div>
</section>
